.cardCV :hover {
    cursor: pointer;
}

.cardCV {
    background-color: white;
    height: 300px;
    border-radius: 25px;
}

.breadcrumbCV {
    font-size: 12px;
    color: #b22222;
}

.breadcrumbCV :hover {
    cursor: pointer;
}

.textCV {
    color: #b22222;
}

.imageCV{
 max-height: 100%;
}
