.cardCV :hover {
    cursor: pointer;
}

.cardCV {
    background-color: white;
    height: 400px;
    border-radius: 25px;
}

.breadcrumbCV {
    font-size: 12px;
    color: #b22222;
}

.breadcrumbCV :hover {
    cursor: pointer;
}

.textCV {
    color: #b22222;
}

.imageCV{
    object-fit: cover;
}

.mostrarmas :hover{
    cursor: pointer;
}

.buscadorCV{
    font-family: FontAwesome
}