.SKUSpecificationTable_CustomCell {
    height: 32px;
    margin: auto;
    vertical-align: middle;
}

.SKUSpecificationTable_CustomCell .vtex-button{
    height: 25px !important;
    margin: auto;
    vertical-align: middle;
}